version: '3'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1516
      - POSTGRES_DB=django_db
    expose:
      - 5436
    ports:
      - "5436:5436"
    command: -p 5436
    restart: always

    volumes:
      - db_data:/var/lib/postgresql/data
      - db_backup:/var/lib/postgresql/backup

  redis:
    image: redis:5-alpine
    command: --port 6391
    ports:
      - "6391:6391"
    expose:
      - 6391
    restart: always


  rabbitmq:
    image: rabbitmq:3.9-alpine


  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app/backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always


  celery_worker:
    build: .
    command: celery -A backend worker --loglevel=info
    volumes:
      - .:/app/celery
    depends_on:
      - redis
    restart: always

  celery_beat:
    build: .
    command: celery -A backend beat --loglevel=info
    volumes:
      - .:/app/celery
    depends_on:
      - redis
    restart: always



volumes:
  db_data:
  db_backup:
